argcomplete==2.0.0
arrow==1.2.2
attrs==22.1.0
audioread==2.1.9
Authlib==1.0.1
autokey==0.95.10
Babel==2.9.1
Beaker==1.10.0
beautifulsoup4==4.11.0
blivet==3.4.4
blivet-gui==2.3.0
bodhi==5.7.5
bodhi-client==6.0.1
Brlapi==0.8.4
Brotli==1.0.9
CCColUtils==1.5
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.11
chrome-gnome-shell==0.0.0
click==8.0.4
configobj==5.0.6
construct==2.10.68
cryptography==36.0.0
cupshelpers==1.0
dasbus==1.6
dbus-python==1.2.18
decorator==5.1.1
discover-overlay==0.5.4
distlib==0.3.4
distro==1.6.0
dnspython==2.2.0
docopt==0.6.2
evdev==1.5.0
fedora-third-party==0.10
fedpkg==1.42
filelock==3.3.1
Flask==2.1.3
flask-talisman==1.0.0
fros==1.1
Frozen-Flask==0.18
gitdb==4.0.9
GitPython==3.1.26
gpg==1.15.1
gssapi==1.7.2
gunicorn==20.1.0
humanize==3.13.1
ics==0.7.2
idna==3.3
itsdangerous==2.1.2
Jinja2==3.0.3
kitchen==1.2.6
koji==1.29.1
langtable==0.0.58
libcomps==0.1.18
libvirt-python==8.0.0
lockfile==0.12.2
lutris==0.5.11
lxml==4.7.1
Mako==1.1.4
Markdown==3.3.7
MarkupSafe==2.1.1
menulibre==2.2.3
meson==0.62.2
munch==2.5.0
mutagen==1.45.1
nftables==0.1
olefile==0.46
openidc-client==0.7.0
packaging==21.3
Paste==3.5.0
pexpect==4.8.0
pid==2.2.3
Pillow==9.1.0
pipreqs==0.4.11
platformdirs==2.3.0
ply==3.11
productmd==1.33
progressbar2==3.53.2
protontricks==1.9.0
psutil==5.8.0
ptyprocess==0.6.0
puddletag==2.2.0
pwquality==1.4.4
pyacoustid==1.2.2
pybeam==0.7
pycairo==1.21.0
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.15.0
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
pygit2==1.7.1
Pygments==2.11.2
PyGObject==3.42.1
pyinotify==0.9.6
pykickstart==3.36
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.12.0
PyQt5==5.15.6
PyQt5-sip==12.9.0
pyroute2==0.6.12
pyroute2.core==0.6.12
pyroute2.ethtool==0.6.12
pyroute2.ipdb==0.6.12
pyroute2.ipset==0.6.12
pyroute2.ndb==0.6.12
pyroute2.nftables==0.6.12
pyroute2.nslink==0.6.12
PySide2==5.15.2.1
PySocks==1.7.1
python-augeas==1.1.0
python-bugzilla==3.2.0
python-dateutil==2.8.1
python-fedora==1.1.1
python-Levenshtein==0.12.0
python-meh==0.50
python-pidfile==3.0.0
python-utils==2.5.6
python-xlib==0.31
python-yubico==1.3.3
pytz==2022.2
pyudev==0.22.0
pyusb==1.2.1
pyxdg==0.27
PyYAML==6.0
regex==2022.6.2
requests==2.27.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
rpkg==1.64
rpm==4.17.1
rpmautospec==0.3.0
rpmlint==2.2.0
selinux==3.3
sepolicy==3.3
setools==4.4.0
shiboken2==5.15.2.1
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
smmap==5.0.0
sos==4.3
soupsieve==2.3.1
systemd-python==234
TatSu==5.8.3
Tempita==0.5.2
templated-dictionary==1.1
toml==0.10.2
ulauncher==5.14.7
urllib3==1.26.8
vdf==3.4
virtualenv==20.13.4
websocket-client==1.3.2
websockets==10.1
Werkzeug==2.1.2
yarg==0.1.9
yt-dlp==2022.8.19
zstd==1.4.5.1
