html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.form {
  margin-bottom: 1rem;
  flex: 1;
  text-align: center;
  align-self: center;
  box-sizing: border-box;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  position: relative
}

.form input,
.form label,
form legend {
  display: block;
  color: white;
  font-size: 30px;
  text-align: center;
}

form legend {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.form label {
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.form input,
.form select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 25rem;
  max-width: 100%;
  margin-bottom: 1rem;
  color: #141e30;
}

.form input:focus {
  outline: none;
  border-color: #240370;
  color: black;
}

.control {
  display: flex;
  column-gap: 1rem;
  /*flex-wrap: wrap;*/
  flex-direction: column;
}

.control .form {
  min-width: 15rem;
  flex: 1;
}

button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 2px;
  background: inherit;
  border: none;
}

button:hover {
  background: #03e9f4;
  color: #fff;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  color: red;
}

button:disabled:hover {
  background: #740808;
  box-shadow: 0 0 5px #740808,
              0 0 25px #740808,
              0 0 50px #740808,
              0 0 100px #740808;
}

button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

button span {
  position: absolute;
  display: block;
}

button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

button:disabled span:nth-child(1) {
  background: linear-gradient(90deg, transparent, red);
}

button:disabled span:nth-child(2) {
  background: linear-gradient(180deg, transparent, red);
}

button:disabled span:nth-child(3) {
  background: linear-gradient(270deg, transparent, red);
}

button:disabled span:nth-child(4) {
  background: linear-gradient(0deg, transparent, red);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.actions button {
  margin-left: 1rem;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error {
  color: #b40e0e;
}
