<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>autoUniCalendar</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="base.css" ) }}">
</head>

<body>
    <h1>autoUniCalendar: Descarga tu calendario de Uniovi.</h1>

    <br>

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <!--<form action="" method="post"> -->
            <form action="">
                <h1>Descargar usando credenciales</h1>
                <span> Usa tus credenciales para tramitar la solicitud y descargar el calendario. (Pendiente por implementar, se requiere colaboración de Uniovi desde que el inicio de sesión es con Microsoft.)</span>
                <input type="text" placeholder="UO" />
                <input type="password" placeholder="Password" />
                <button disabled>Descargar</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="" method="post">
                <h1>Cookies</h1>
                <br>
                <span>Introduce tu cookie de sesión.</span>
                <input type="password" placeholder="JSession" id="cookie" name="cookie" />

                <div class="date-selectors">
                    <div>
                        <span>Fecha de inicio</span>
                        <input type="date" id="start" name="start" value="2023-09-01">
                    </div>
                    <div>
                        <span>Fecha de fin</span>
                        <input type="date" id="end" name="end" value="2024-07-01">
                    </div>
                </div>
                
                
                
                <a href="https://bimo99b9.github.io/scripts-autounicalendar/#:~:text=Both%20can%20be%20obtained%20pressing%20F12%20in%20the%20web%20browser" target=_blank>¿Necesitas ayuda?</a>

                <button>Descargar</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Descargar usando cookies.</h1>
                    <p>Puedes descargar el calendario usando las cookies de sesión, haciendo click aquí.</p>
                    <button class="ghost" id="signIn">Usar cookies</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Descargar usando credenciales.</h1>
                    <p>
                        Si lo prefieres, puedes usar tus credenciales en lugar de tus cookies
                        de sesión para descargar el calendario. Es más sencillo, ¡pero recomendamos usar las cookies!
                    </p>
                    <button class="ghost" id="signUp">Usar credenciales</button>
                </div>
            </div>
        </div>
    </div> 

    
    <footer>
        <p>
            Created with love by Daniel López Gala. v2.0
        </p>
    </footer>

    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
            console.log("here");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>

</body>

</html>