.form {
  display: flex;
  margin-left: 30px;
  margin-bottom: 8px;
}
.form label {
  margin-left: 10px;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 0px;
}

/*
.label {
  margin-left: 100px;
}
.input[type="radio"] {
  flex-direction: column;
  margin-left: 70px;
}
.input[type="radio"] + label {
  margin-left: 10px;
}
.input[type="radio"] + label:after {
  content: "";
  display: block;
}
*/
