.form {
  display: block;
  align-content: center;
}
.form label {
  width: 100%;
  color: white;
}

/*
.label {
  margin-left: 100px;
}
.input[type="radio"] {
  flex-direction: column;
  margin-left: 70px;
}
.input[type="radio"] + label {
  margin-left: 10px;
}
.input[type="radio"] + label:after {
  content: "";
  display: block;
}
*/
